In [1]:
import requests
import pandas as pd
import numpy as np
import os
import sqlite3
from tqdm.auto import tqdm
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
engine = create_engine('sqlite:///chinook.db')
engine

Engine(sqlite:///chinook.db)

In [3]:
df = pd.read_sql_query("""Select 
  artists.Name As Artista, 
  genres.Name As Genero, 
  media_types.Name As Formato, 
  albums.Title As Album, 
  employees.FirstName As NombreEmpleado, 
  employees.Phone As Telefono, 
  tracks.Name As Pista, 
  SUM(invoices.Total) AS TotalVentas 
  From invoice_items
  Inner Join invoices On invoice_items.InvoiceId = invoices.InvoiceId
  Inner Join tracks On invoice_items.TrackId = tracks.TrackId
  Inner Join genres On tracks.GenreId = genres.GenreId
  Inner Join media_types On tracks.MediaTypeId = media_types.MediaTypeId
  Inner Join albums On tracks.AlbumId = albums.AlbumId
  Inner Join artists On albums.ArtistId = artists.ArtistId
  Inner Join customers On invoices.CustomerId = customers.CustomerId
  Inner Join employees On customers.SupportRepId = employees.EmployeeId
  Group By artists.ArtistId
  Having invoices.InvoiceDate Between '2012-01-01' AND '2013-31-01'
  Order By invoices.Total ASC
    
    """, con=engine.connect())

In [4]:
df.head()

                                     Artista  ... TotalVentas
0                              Black Sabbath  ...       76.23
1                                Marvin Gaye  ...       90.09
2  Chicago Symphony Orchestra & Fritz Reiner  ...       16.85
3                                 Gene Krupa  ...      127.71
4                          Smashing Pumpkins  ...      192.06

[5 rows x 8 columns]

In [5]:
df.to_csv('Proyecto.csv')

In [18]:
df.to_sql('Proyecto', con=engine, if_exists='replace', index = True)

In [19]:
df = pd.read_sql_query("""SELECT * 
FROM Proyecto   
    """, con=engine.connect())

In [17]:
df.head()

   index  ... TotalVentas
0      0  ...       76.23
1      1  ...       90.09
2      2  ...       16.85
3      3  ...      127.71
4      4  ...      192.06

[5 rows x 9 columns]